html {
    min-height: 100%;
    position: relative;
}

body {}

.heading {
    text-align: center;
    font-size: 2.5rem;
}

button {
    cursor: pointer;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    color: #fff;

}

.logo {
    height: 100px;
    padding-right: 5px;
}

.headerdiv {
    text-align: center;
    font-size: 1.70em;
}

.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 480px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

#messages {
    height: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.player {

    float: left;
    width: 45%;
}

#player-image {
    width: 60%;
}

.computer {
    float: right;
    width: 45%
}

#computer-image {
    width: 60%;
}

.rules {
    text-align: center;
    font-size: 1.70em;
}