.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 100px;
    padding-right: 5px;
}

.headerdiv{
    text-align: center;
    font-size: 1.70em;
}
.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
      
    